p#fs1{font-size: 80%;}
p#fs2{font-size: 70%;}
p#fs3{font-size: 60%;}
p#fs4{font-size: 50%;}
p#fs5{font-size: 40%;}
p#fs6{font-size: 30%;}
p#fs7{font-size: 20%;}


p#w1{font-weight: 800;}
p#w2{font-weight: 700;}
p#w3{font-weight: 600;}
p#w4{font-weight: 500;}
p#w5{font-weight: 400;}
p#w6{font-weight: 300;}
p#w7{font-weight: 200;}


#fv{font-variant: small-caps;}





















